@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 50% 100%;}
	100% {background-position: 0% 50%;}
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Geometria', 'Arial', sans-serif;
}

body {
	margin: 0 auto;

	max-width: 1920px;
	color: #0d3f57;
}

a {
	text-decoration: none;
}

.logo {
	height: 50px;
}

.header {
	padding: 15px 0;
	margin: 0 auto;
	width: 1170px;
	height: 50px;
}

.header-logo {
	padding-left: 0;
}

.header-logo a {
	position: relative;
	display: inline-block;
	color: #0d3f57;
}

.header-logo span {
	position: absolute;
	top: 15px;
}

.header-logo a::before{
	content: "";
	display: inline-block;
	background-image: url(../images/logo-w-t.png);
	width: 100px;
	height: 50px;
}

.header-logo > a:hover {
	color: #ff2727;
}

.header-logo > a:active {
	text-decoration: initial;
	color: initial;
}

.header-worktime {
	display: table;
	height: 50px;
	font-size: 12px;
	text-align: center;
	background: url(../images/icons/clock-circular-outline.png) no-repeat center right;
}

.header-worktime > * {
	display: table-cell;
	vertical-align: middle;
}

.header-tel {
	display: table;
	height: 50px;
	font-size: 12px;
	text-align: right;
}

.header-tel > * {
	display: table-cell;
	vertical-align: middle;
}

.header-tel a {
	font-size: 15px;
	color: #0d3f57;
}

.header-tel a:hover {
	text-decoration: underline;
	color: #ff2727;
}

.header-tel a:active {
	text-decoration: none;
	color: initial;
}

.header-order {
	padding-right: 0;
}

.order-button {
	width: 100%;
	height: 50px;
	background: linear-gradient(to right, #ff2626, #ff8d18);
	border: none;
	border-radius: 7px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
}

.order-button:hover {
	background: linear-gradient(to left, #ffff9e, #ff5626);
	background-size: 400% 400%;
	animation: gradient 2s linear infinite;
}

.order-button:active {
	background: linear-gradient(to right, #ff2626, #ff2626);
}

.order-button:focus {
	outline: transparent;
}

.intro {
	background: url(../images/banner-3_1.jpg) no-repeat center;
}

.intro-mod {
	height: 600px;
	max-width: 1170px;
	margin: 0 auto;
	
}

.intro-info {
	height: 100%;
	padding-left: 0;
}

.intro-info__show {
	width: 100%;
	height: 50%;
	padding: 30px 0;
	box-sizing: border-box;
}

.intro-info__show-header {
	margin: 35px 0;
	color: #ffffff;
	font-weight: 700;
	font-size: 36px;
}

.intro-info__show-article {
	color: #ffffff;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 40px;
}

.intro-info__show-article:last-child {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.intro-info__benefits {
	width: 100%;
	height: 50%;
	padding-top: 170px;
	box-sizing: border-box;
}

.intro-info__benefits .benefits {
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
}

.intro-form {
	height: 100%;
	background: url(../images/intro-form.png) no-repeat center right;
	position: relative;
}

.intro-form-label {
	display: inline-block;
	width: 213px;
	position: relative;
	left: 280px;
	top: 160px;
	text-align: center;
	font-weight: 500;
}

.intro-form-label input {
	height: 50px;
	border: 1px solid #bbbbbb;
	border-radius: 7px;
	width: 190px;
	margin: 7px 0;
	text-align: center;
}

.intro-form-label input:first-child {
	margin-top: 30px;
}

.intro-form-label input:last-child {
	border: none;
}

.footer {
	padding: 27px 0;
	margin: 0 auto;
	width: 1170px;
	height: 108px;
}
