* {
	margin: 0;
	padding: 0;
	font-family: 'Geometria', 'Arial', sans-serif;
}

body {
	margin: 0 auto;
	max-width: 1920px;
	color: #0d3f57;
}

a {
	text-decoration: none;
}

.logo {
	height: 50px;
}

.header {
	padding: 15px 0;
	margin: 0 auto;
	width: 1170px;
	height: 50px;
}

.header-logo {
	padding-left: 0;
}

.header-logo a {
	position: relative;
	display: inline-block;
	color: #0d3f57;
}

.header-logo span {
	position: absolute;
	top: 15px;
}

.header-logo a::before{
	content: "";
	display: inline-block;
	background-image: url(../images/logo-w-t.png);
	width: 100px;
	height: 50px;
}

.header-logo > a:hover {
	color: #ff2727;
}

.header-logo > a:active {
	text-decoration: initial;
	color: initial;
}

.header-worktime {
	display: table;
	height: 50px;
	font-size: 12px;
	text-align: center;
	background: url(../images/icons/clock-circular-outline.png) no-repeat center right;
}

.header-worktime > * {
	display: table-cell;
	vertical-align: middle;
}

.header-tel {
	display: table;
	height: 50px;
	font-size: 12px;
	text-align: right;
}

.header-tel > * {
	display: table-cell;
	vertical-align: middle;
}

.header-tel a {
	font-size: 15px;
	color: #0d3f57;
}

.header-tel a:hover {
	text-decoration: underline;
	color: #ff2727;
}

.header-tel a:active {
	text-decoration: none;
	color: initial;
}

.header-order {
	padding-right: 0;
}

.link-button {
	display: inline-block;
	line-height: 50px;
	width: 100%;
	height: 50px;
	background: linear-gradient(to right, #ff2626, #ff8d18);
	border: none;
	border-radius: 7px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 50% 100%;}
	100% {background-position: 0% 50%;}
}

.link-button:hover {
	background: linear-gradient(to left, #ffff9e, #ff5626);
	background-size: 400% 400%;
	animation: gradient 2s linear infinite;
}

.link-button:active {
	background: linear-gradient(to right, #ff2626, #ff2626);
}

.link-button:focus {
	outline: transparent;
}

.intro {
	background: url(../images/banner-3_1.jpg) no-repeat center;
}

.intro-mod {
	height: 600px;
	max-width: 1170px;
	margin: 0 auto;
	
}

.intro-info {
	height: 100%;
	padding-left: 0;
}

.intro-info__show {
	width: 100%;
	height: 50%;
	padding: 30px 0;
	box-sizing: border-box;
}

.intro-info__show-header {
	margin: 35px 0;
	color: #ffffff;
	font-weight: 700;
	font-size: 36px;
}

.intro-info__show-article {
	color: #ffffff;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 40px;
}

.intro-info__show-article:last-child {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.intro-info__benefits {
	width: 100%;
	height: 50%;
	padding-top: 170px;
	box-sizing: border-box;
}

.intro-info__benefits .benefits {
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
}

.intro-form {
	height: 100%;
	background: url(../images/intro-form.png) no-repeat center right;
	position: relative;
}

.intro-form-label {
	display: inline-block;
	width: 213px;
	position: relative;
	left: 280px;
	top: 160px;
	text-align: center;
	font-weight: 500;
}

.intro-form-label input {
	height: 50px;
	border: 1px solid #bbbbbb;
	border-radius: 7px;
	width: 190px;
	margin: 7px 0;
	text-align: center;
}

.intro-form-label input:first-child {
	margin-top: 30px;
}

.intro-form-label input:last-child {
	border: none;
}

.section-header {
	width: 100%;
	margin: 100px 0 60px;
	text-align: center;
	font-size: 30px;
}

.projects {
	height: 940px;
}

.projects-buttons {
	width: 100%;
	text-align: center;
}

.projects-buttons__economic,
.projects-buttons__medium,
.projects-buttons__premium {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	padding: 5px;
	color: #0d3f57;
	border: none;
	background-color: #ffffff;
	margin: 0 12px;
	cursor: pointer;
}

.projects-buttons-active {
	border: 2px solid #0d3f57;
	border-radius: 5px;
}

.projects-carousel {
	height: 540px;
	width: 1170px;
	margin: 60px auto;

}

.projects-carousel__item {
	width: 370px;
	margin: 0 15px;
	height: 485px;
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

.projects-carousel__item .carousel-item__header {
	font-weight: 500;
	font-size: 20px;
	margin: 30px 0;
}

.carousel-item__desc:first-of-type {
	margin-bottom: 10px;
}

.projects-carousel__item img {
	width: 100%;
}

.carousel-item__button {
	width: 210px;
	margin: 30px 0;
}

.projects-carousel .slick-dots {
	width: 100px;
	left: 50%;
	transform: translate(-50%, 0);
}

.projects-carousel .slick-dots li:not(.slick-active) button {
	border: 1px solid #0d3f57;
	border-radius: 25px;
}

.projects-carousel .slick-dots li.slick-active button {
	border: 3px solid #0d3f57;
	border-radius: 25px;
}

.projects-carousel .slick-dots li button:before {
	color: transparent;
	opacity: 0;
}

.projects-carousel .slick-dots li.slick-active button:before {
	color: transparent;
	opacity: 0;
}

.slick-slider .slick-prev, .slick-slider .slick-next {
	top: 103%;
	width: 30px;
    height: 30px;
    background: #0d3f57;
    border-radius: 20px;
}

.slick-slider .slick-prev::before, .slick-slider .slick-next::before {
	position: absolute;
	font-size: 40px;
    line-height: 1.1;
    opacity: 1;
    color: white;
}

.slick-slider .slick-next {
	right: 485px;
}

.slick-slider .slick-prev::before, .slick-slider .slick-next::before {
    left: -6px;
    top: -4px;
}

.slick-slider .slick-prev {
	left: 485px;
}

.slick-slider .slick-prev:hover, .slick-slider .slick-next:hover {
	background-color: #0d3f57;
}

.slick-slider .slick-prev:focus, .slick-slider .slick-next:focus {
	background-color: #0d3f57;
}

.homes-section {
	height: 1440px;
	background: url(../images/homes-backgr.jpg) center no-repeat;
	background-size: cover;
	border-top: 1px solid transparent;
}

.homes {
	width: 1170px;
	margin: 0 auto;
}

.homes .section-header {
	line-height: initial;
}

.notification {
	text-align: center;
	margin: 60px 0;
	font-size: 20px;
	font-weight: 400;
}

.homes-items {
	height: 245px;
}

.homes-items a {
	position: relative;
}

.homes-items > a:nth-child(1),
.homes-items > a:nth-child(2),
.homes-items > a:nth-child(3) {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.homes-items a:hover::before {
	content: '';
	position: absolute;
	width: 370px;
	height: 245px;
	background-color: rgba(0, 177, 0, 0.5);
	border-radius: 5px;
	background-image: url(../images/icons/cross.png);
	background-repeat: no-repeat;
	background-position: center;
}

.homes-items a:active::before {
	background-color: rgba(0, 150, 0, 0.6);
	background-size: 30px;
}

.homes .homes-form {
	width: 100%;
	height: 355px;
	margin-top: 60px;
	background-color: #ffffff;
	border-radius: 5px;
	border-top: 1px solid transparent;
	padding: 70px 100px;
	box-sizing: border-box;
}

.homes-form h2 {
	font-size: 22px;
}

.homes-form p {
	margin: 40px 0;
}

.form > * {
	width: 300px;
}

.form input {
	width: 100%;
	height: 50px;
	padding-left: 25px;
	box-sizing: border-box;
	border: 1px solid #bbbbbb;
	border-radius: 7px;
}

.form button {
	line-height: initial;
}

.home-structure {
	width: 1170px;
	height: 900px;
	margin: 0 auto;
	background: url(../images/home-structure.png) no-repeat center 230px;
	padding: 0 100px;
	box-sizing: border-box;
}

.structures {
	width: 170px;
	height: 50px;
	line-height: 50px;
	text-align: right;
	position: relative;
}

.structures a {
	text-decoration: underline;
	font-weight: 500;
	color: #0d3f57;
}

.structures a:hover {
	text-decoration: none;
}

.structures a:active {
	text-decoration: underline;
}

.structures:nth-child(odd){
	margin: 0 0 0 auto;
	text-align: left;
}

.structures::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background: url(../images/icons/structure-dot.png) no-repeat center;
	top: 50%;
	transform: translate(0, -50%);
}

.structures::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 25px;
	top: 0;
	border-bottom: 1px solid #ff962d;
}

.structures:nth-last-child(8)::after{
	width: 128px;
	right: calc(100% + 15px);
}

.structures:nth-last-child(8)::before{
	right: 190%;
}

.structures:nth-last-child(7)::after{
	width: 174px;
	left: calc(100% + 15px);
}

.structures:nth-last-child(7)::before{
	left: 217%;
}

.structures:nth-last-child(6)::after{
	width: 128px;
	right: calc(100% + 15px);
}

.structures:nth-last-child(6)::before{
	right: 190%;
}

.structures:nth-last-child(5)::after{
	width: 270px;
	left: calc(100% + 15px);
}

.structures:nth-last-child(5)::before{
	left: 274%;
}

.structures:nth-last-child(4)::after{
	width: 124px;
	right: calc(100% + 15px);
}

.structures:nth-last-child(4)::before{
	right: 187%;
}

.structures:nth-last-child(3)::after{
	width: 130px;
	left: calc(100% + 15px);
}

.structures:nth-last-child(3)::before{
	left: 190%;
}

.structures:nth-last-child(2)::after{
	width: 290px;
	right: calc(100% + 15px);
}

.structures:nth-last-child(2)::before{
	right: 285%;
}

.structures:nth-last-child(1)::after{
	width: 230px;
	left: calc(100% + 15px);
}

.structures:nth-last-child(1)::before{
	left: 250%;
}

.bricks-section {
	background-color: #0d3f57;
	border-top: 1px solid transparent;
}

.bricks {
	width: 1170px;
	height: 600px;
	margin: 0 auto;
	color: #ffffff;
}

.bricks-option {
	text-align: center;
}

.bricks-option h4 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	padding: 30px 0;
}

.bricks-option a {
	font-size: 14px;
	color: #ffffff;
	text-decoration: underline;
}

.bricks-option a:hover {
	text-decoration: none;
}

.bricks-option a:active {
	text-decoration: underline;
}

.advantages-section {

	background: url(../images/advantages-section.jpg) no-repeat;
}

.advantages {
	border-top: 1px solid transparent;
	width: 1170px;
	height: 780px;
	margin: 0 auto;
}

.advantages-items {
	height: 125px;
}

.advantages-items img {
	float: right;
}

.advantages-items h3 {
	font-weight: 500;
	margin: 20px 0 25px 0;
}

.advantages-items p {
	font-size: 14px;
}

.chairman {
	width: 1170px;
	height: 630px;
	margin: 0 auto;
	background: url(../images/chairman-section.jpg) no-repeat left;
}

.chairman-video {
	text-align: right;
}
.chairman-president h3 {
	margin-top: 30px;
	font-size: 20px;	
}

.chairman-president p {
	padding: 30px 0;
}

.chairman-president a {
	color: #0d3f57;
	font-weight: 500;
	font-size: 18px;
}

.chairman-president a:hover {
	text-decoration: underline;
}

.chairman-president a:active {
	text-decoration: none;
}

.chairman-president {
	padding-left: 100px;
}

.best-workers-section {
	background-color: #e8f3fa;
}

.best-workers {
	border-top: 1px solid transparent;
	width: 1170px;
	height: 790px;
	margin: 0 auto;
}

.worker {
	text-align: center;
}

.worker h3 {
	margin-top: 30px;
	font-size: 18px;
}

.worker p {
	margin: 20px 0;
	font-size: 14px;
}

.worker-info {
	border: 1px solid #ffffff;
	background-color: #ffffff;
	border-radius: 7px;
	position: relative;
	margin-top: 35px;
}

.worker-info::before {
	content: '';
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	position: absolute;
	background-color: #ffffff;
	top: -15px;
	left: 50%;
	transform: translate(-50%, 0) rotate(45deg);
}

.questions-section {
	background: url(../images/questions-section.jpg) no-repeat center;
}

.questions {
	color: #ffffff;
	border-top: 1px solid transparent;
	width: 1170px;
	height: 745px;
	margin: 0 auto;
}

.questions li {
	padding: 20px 25px;
	position: relative;
}

.callus {
	width: 1170px;
	margin: 0 auto;
	padding: 70px 100px 40px;
}

.callus a {
	color: inherit;
}

.callus a:hover {
	text-decoration: underline;
}

.callus a:active {
	text-decoration: none;
}

.callus p:last-of-type {
	font-size: 14px;
}

.questions li:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	left: -27px;
	top: 15px;
}

.questions li > span {
	text-decoration: underline;
}

.footer {
	border: 4px solid #333;
	padding: 27px 0;
	margin: 0 auto;
	width: 1170px;
	height: 108px;
}
